{% extends "auctions/layout.html" %}

{% block body %}
<h2>{{title}}</h2>

<div class="container">

    <!-- <div class="row mb-3 p-4 border rounded">
        <div class="col">
            <img class="img-fluid rounded"
                src="https://asset.msi.com/global/picture/article/article_147485955657e89224bdee30.jpg"
                alt="MSI Laptop">
        </div>
        <div class="col">
            <h2 class="heading h2">MSI Laptop</h2>
            <p><strong>Price: $1,000</strong></p>
            <p>Created May 29, 2022, 9:59 AM</p>
        </div>

    </div> -->
    <h3 class="text-center">
        {% if listings.count < 1 %} No Listings {% endif %} </h3>


            {% for listing in listings %}
            <a href="{% url 'listing' listing.id %}" class="row mb-3 p-4 border rounded">
                {% if listing.img != "" %}
                <div class="col">
                    <img class="img-fluid rounded" src="{{listing.img}}" alt="{{listing.title}}">
                </div>
                {% endif %}
                <div class="col">
                    <h2 class="heading h2">{{listing.title}}</h2>
                    <p><strong>Starting Price: ${{listing.starting_bid}}</strong></p>
                    <p>{{listing.description}}</p>
                    <div><strong>Created:</strong> {{listing.publication_date}}</div>
                    {% if listing.get_category_display != "" %}
                    <strong>Category:</strong> {{listing.get_category_display}}
                    {% endif %}
                </div>
            </a>
            {% endfor %}
</div>
{% endblock %}