{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-fluid">
  <h1>Listing: {{listing.title}}</h1>
  {% if listing.img != "" %}
  <img class="img-fluid" src="{{listing.img}}" alt="{{listing.title}}">
  {% endif %}
  <h2 class="h3">Price: ${{current_price}}</h2>
  <p>{{listing.description}}</p>

  {% if user.is_authenticated %}
  {% if user.id == listing.user_id and not listing.closed %}
  <a class="btn btn-outline-primary mb-3" href="{% url 'close_listing' listing.id %}">
    Close Listing
  </a>
  {% endif %}
  <div>
    {% if listing.closed %}
    This listing is closed
    {% endif %}
  </div>
  {% if current_bid_user == user.id and listing.closed %}
  <div class="m-4">
    You have won this auction!
  </div>
  {% endif %}
  <a class="btn btn-outline-primary mb-3" href="{% url 'add_watchlist' listing.id %}">
    {% if not in_watchlist %}
    Add to WatchList
    {% else %}
    Remove from Watchlist
    {% endif %}
  </a>

  <form action="{% url 'add-bid' listing.id %}" method="post" class="mb-3">
    {% csrf_token %}
    <p>{{bids.count}} bid(s) so far.
      {% if current_bid_user == user.id %}
      <span>Your bid is the current bid</span>
      {% endif %}
    </p>
    <div class="form-group">
      <input type="number" name="amount" class="form-control mb-3" placeholder="Amount">
      <button class="btn btn-primary" type="submit">Place Bid</button>
    </div>
  </form>
  {% endif %}

  <h2>Details</h2>
  <ul>
    <li>Listed By: {{listing.user.username}}</li>
    <li>Created At: {{listing.publication_date}}</li>
    {% if listing.get_category_display != "" %}
    <li>Category: {{listing.category}}</li>
    {% endif %}

  </ul>

  <h2>Comments</h2>
  {% if user.is_authenticated %}
  <form action="{% url 'add_comment' listing.id %}" method="post">
    {% csrf_token %}
    <input type="text" class="form-control mb-3" name="text" placeholder="Enter your comment">
    <button class="btn btn-primary" type="submit">Add comment</button>
  </form>
  {% endif %}

  <div class="container mt-3">
    {% for comment in comments %}
    <div class="card mb-2">
      <div class="card-header">
        <h4 class="h4">
          {{comment.user.username}}

        </h4>
      </div>
      <div class="card-body">{{comment.comment}}</div>
    </div>
    {% endfor %}
  </div>


</div>
{% endblock %}