{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist Listings</h2>

<div class="container">
  {% for watchlist in watchlists %}
  <a href="{% url 'listing' watchlist.listing.id %}" class="row mb-3 p-4 border rounded">
    {% if watchlist.listing.img != "" %}
    <div class="col">
      <img class="img-fluid rounded" src="{{watchlist.listing.img}}" alt="{{watchlist.listing.title}}">
    </div>
    {% endif %}
    <div class="col">
      <h2 class="heading h2">{{watchlist.listing.title}}</h2>
      <p><strong>Starting Price: ${{watchlist.listing.starting_bid}}</strong></p>
      <p>{{watchlist.listing.description}}</p>
      <div><strong>Created:</strong> {{watchlist.listing.publication_date}}</div>
      {% if watchlist.listing.get_category_display != "" %}
      <strong>Category:</strong> {{watchlist.listing.get_category_display}}
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}