{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="p-4">


  <form class="p-4" action="{% url 'create' %}" method="post">
    <h2 class="text-2xl font-bold">Create New Listing</h2>
    {% csrf_token %}
    <div class="grid columns-1 gap-2">
      <input type="text" class="rounded  mb-3 mt-3" placeholder="Title" name="title">
      <textarea placeholder="Description" class="rounded mb-3" name="description" required></textarea>
      <input type="text" placeholder="Crop Type" class="rounded mb-3" name="crop_type" required>
      <input type="text" placeholder="Image url" class="rounded mb-3" name="img">

      <select name="pricing" id="pricing" class="rounded block mb-3">
        <option selected value="auction">Auction</option>
        <option value="buyitnow">Buy It Now</option>
      </select>

      <input type="number" placeholder="Price" class="rounded mb-3" name="price" id="price">

      <div id="auction-input" class="flex flex-wrap justify-center gap-4">
        <input type="number" placeholder="Starting Bid ($)" class="rounded mb-3" name="starting_bid" id="starting_bid">
        <input type="number" placeholder="Duration (in days)" class="rounded mb-3" name="duration" id="duration">
      </div>

    </div>
    <select name="category" id="category-select" class="rounded block mb-3">
      <option selected disabled>Select Category</option>
      <option value="Food">Food</option>
      <option value="Feed">Feed</option>
      <option value="Fiber">Fiber</option>
      <option value="Oil">Oil</option>
      <option value="Ornamental">Ornamental</option>
      <option value="Indutrial">Indutrial</option>
    </select>
    <button class="bg-teal-800 text-white rounded-lg px-3 py-2" type="submit">Submit</buttonc>
  </form>
</div>

<script src="{% static 'js/listing.js' %}"></script>
{% endblock %}