{% extends 'base.html' %}
{% load static %}
{% block title %}
mKisan | Home
{% endblock %}

{% block body %}
<main class="p-4">
    <h1 class="text-2xl text-center">Welcome to mKisan!</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2">
        <div class="p-2">
            <h2 class="text-xl">My Listings</h2>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 py-2">

                {% for listing in listings %}
                <a href="{% url 'listing' listing.id %}"
                    class="relative shadow-md hover:shadow-lg overflow-hidden transition ease-in-out duration-100 border-2 border-teal-400 rounded-lg cursor-pointer">

                    {% if listing.closed %}
                    <div class="absolute top-0 right-0 rounded-bl-sm py-1 px-2 bg-gray-800 text-white">Closed</div>
                    {% endif %}

                    <img src="{{listing.img}}" class="w-full h-48 object-cover" alt="{{listing.title}}">

                    <div class="p-2">
                        <div class="flex justify-between">
                            <div
                                class="bg-gray-600 text-white font-semibold uppercase rounded p-1 px-2 inline-block text-xs">
                                {{listing.category}}
                            </div>
                            <div class="bg-teal-600 text-white font-semibold rounded-sm px-2 py-1 text-xs uppercase">
                                {% if listing.pricing == 'auction' %}
                                Auction
                                {% else %}
                                Buy it Now
                                {% endif %}
                            </div>
                        </div>
                        <h2 class="text-lg font-bold">{{listing.title}}</h2>
                        <p class="text-sm text-gray-800 text-ellipsis line-clamp-4">{{listing.description}}</p>
                        {% if listing.pricing == 'auction' %}
                        <h3 class="text-md my-2 font-semibold">{{listing.duration}} days left</h3>
                        {% endif %}

                        {% if listing.pricing == 'buyitnow' %}
                        <h3 class="text-md my-2 font-semibold">Price: ${{listing.price}}</h3>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="p-2">
            <h2 class="text-xl">Today's weather</h2>
            <div id="status" class="text-lg"></div>
            <div class="grid grid-cols-2">
                <div id="temp" class="text-6xl text-gray-800 font-bold"></div>
                <div id="temp-icon" class="text-6xl text-yellow-400"><i class="bi bi-sun"></i></div>
                <div id="weather"></div>
                <div id="temp-range"></div>
                <div id="feels-like"></div>
                <div id="humidity"></div>
                <div id="wind"></div>
                <div id="visibility"></div>
                <div id="pressure"></div>
                <div id="sunrise"></div>
                <div id="sunset"></div>
            </div>
        </div>

    </div>
    <script src="{% static 'js/weather.js' %}"></script>
</main>
{% endblock %}